@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap');


.customFont {
    font-family: 'Mrs Saint Delafield', cursive;
    font-weight: 400;
    font-style: normal;
  }